* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hearderBar {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bar {
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bar img {
    width: 130px;
    height: 50px;
}

.menuBar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menuBar img {
    width: 40px;
    height: 40px;
    margin-right: 2%;
}

.img-menu2, .menuList {
    display: none;
}

.menuList.show {
    position: absolute;
    display: block;
    top: 60px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    padding: 10px 25px 10px 15px;
    right: 33px;
    border: 1px solid #000;
}

.list-items {
    font-size: 18px;
}

.lists:active, .lists:hover {
    color: #2680ff;
}

